In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
bio = pd.read_csv('/Volumes/Extreme SSD/Python_Projects/NIAA Project/FINAL_PARSED_DATA/bio_data.csv')
events = pd.read_csv('/Volumes/Extreme SSD/Python_Projects/NIAA Project/FINAL_PARSED_DATA/events_data.csv')

In [4]:
bio.head()

                            nama orang   geb/overl.  id
0              Aa, zr. W. van der (N)   1908-1942/5   0
1  Aalbers, dr. Joh. Godefr., arts (N)    1910-1992   1
2              Aalders, zr. Jacoba (N)    1910-1999   2
3                    Abeel, David (VS)    1804-1846   3
4          Abkoude, ds. F.N.M. van (N)    1895-1988   4

In [5]:
events.head()

,organ.,werkgebied en -soort,werkperiode,bijzonderheden,id
0,GZB,"Rantepao (Sulsel), verpleegster",1932-1933,"~ 1933 F.R.O. Steller, contr. BB, z.v. hp E.T....",0
1,GZB,† in Japanse internering?,NaN,NaN,0
2,NZG,Deli,1937-1946,1942-45 Japanse internering,1
3,SZ,"Bojonegoro, verpleegster in Zzh",1939-1942/6,> dir. Centraal Zh in Hollan­dia (Dake 64) > S...,2
4,ABCFM,"Batavia, bij Medhurst",1831,NaN,3

In [6]:
spouse = pd.read_csv("/Volumes/Extreme SSD/Python_Projects/NIAA Project/FINAL_PARSED_DATA/spouse_data.csv")

In [7]:
spouse.head()

                                  spouse  id
0            ~ 1935 Akke Reidinga † 1990   1
1          ~ 1918 Regina Horstman † 1988   4
2                        ~ Emma Reinmuth   5
3         ~ 1888 J.M. de Buisonjé † 1940   7
4  ~ 1894 Maria Lambertha Gunning † 1939   8