In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
df = pd.read_excel('/Volumes/Extreme SSD/Python_Projects/NIAA Project/data/data_original_structure.xlsx')

In [32]:
df.head()

,nama orang,geb/overl.,organ.,werkgebied en -soort,werkperiode,bijzonderheden,Unnamed: 6
0,"Aa, zr. W. van der (N)",1908-1942/5,GZB,"Rantepao (Sulsel), verpleegster",1932-1933,"~ 1933 F.R.O. Steller, contr. BB, z.v. hp E.T....",NaN
1,NaN,NaN,NaN,† in Japanse internering?,NaN,NaN,NaN
2,"Aalbers, dr. Joh. Godefr., arts (N)",1910-1992,NZG,Deli,1937-1946,1942-45 Japanse internering,NaN
3,~ 1935 Akke Reidinga † 1990,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aalders, zr. Jacoba (N)",1910-1999,SZ,"Bojonegoro, verpleegster in Zzh",1939-1942/6,> dir. Centraal Zh in Hollan­dia (Dake 64) > S...,NaN

In [34]:
# Shift the data to the left by one position for the last 3 columns starting from row 157
#df.loc[157:, df.columns[-4:]] = df.loc[157:, df.columns[-3:]].shift(-1, axis=1)
row_start = 157

# Step 1: Identify the last 4 columns
rightmost_four = df.columns[-4:]  # e.g., [A, B, C, D]

# Step 2: Shift those 4 columns left
temp_shifted = df.loc[row_start:, rightmost_four].shift(-1, axis=1)

# Step 3: Assign shifted data back to the same columns
df.loc[row_start:, rightmost_four] = temp_shifted

In [35]:
df.head(160)

,nama orang,geb/overl.,organ.,werkgebied en -soort,werkperiode,bijzonderheden,Unnamed: 6
0,"Aa, zr. W. van der (N)",1908-1942/5,GZB,"Rantepao (Sulsel), verpleegster",1932-1933,"~ 1933 F.R.O. Steller, contr. BB, z.v. hp E.T....",NaN
1,NaN,NaN,NaN,† in Japanse internering?,NaN,NaN,NaN
2,"Aalbers, dr. Joh. Godefr., arts (N)",1910-1992,NZG,Deli,1937-1946,1942-45 Japanse internering,NaN
3,~ 1935 Akke Reidinga † 1990,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aalders, zr. Jacoba (N)",1910-1999,SZ,"Bojonegoro, verpleegster in Zzh",1939-1942/6,> dir. Centraal Zh in Hollan­dia (Dake 64) > S...,NaN
...,...,...,...,...,...,...,...
155,~ 1908 Gertrud Barthe † 1970,NaN,NaN,NaN,1922-1928,NaN,NaN
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,"Bast, Tijmen, arts (N)",1899-1999,ZGKN-MJ,"Purworejo, wnd arts in Zzh",1925-1926,"Rds MJ 858; GZbl 1925, 215",None
158,~ 1931 Neeltje de Haan (1904-1989),NaN,NaN,NaN,NaN,NaN,None
159,"Baughman, Rev. Burr J., (VS)",1887-1920,EpMeth,"Bogor, hoofd Engelse School",1909-1915,NaN,None

In [36]:
# Drop the last column
df = df.drop(df.columns[-1], axis=1)

In [37]:
# Write the data to a new excel file
df.to_csv('/Volumes/Extreme SSD/Python_Projects/NIAA Project/data/data_unstructured.csv', index=False)

In [38]:
df.head()

,nama orang,geb/overl.,organ.,werkgebied en -soort,werkperiode,bijzonderheden
0,"Aa, zr. W. van der (N)",1908-1942/5,GZB,"Rantepao (Sulsel), verpleegster",1932-1933,"~ 1933 F.R.O. Steller, contr. BB, z.v. hp E.T...."
1,NaN,NaN,NaN,† in Japanse internering?,NaN,NaN
2,"Aalbers, dr. Joh. Godefr., arts (N)",1910-1992,NZG,Deli,1937-1946,1942-45 Japanse internering
3,~ 1935 Akke Reidinga † 1990,NaN,NaN,NaN,NaN,NaN
4,"Aalders, zr. Jacoba (N)",1910-1999,SZ,"Bojonegoro, verpleegster in Zzh",1939-1942/6,> dir. Centraal Zh in Hollan­dia (Dake 64) > S...