This notebook contains additional dataparsing steps that are taken after all the processing done by glp500 and JJ.

As input we use the excl sheets: 
- bio_FINAL Julia working on sex.xlsx
- events_FINAL curated by Julia.xlsx
- locations(KEY) curated Julia.xlsx
- spouses_FINAL curated by Julia.xlsx

[note that these should be put in the folder of parsing_data_june_2025, but are currently in .gitignore]

In [30]:
import pandas as pd
import re
from datetime import datetime

In [31]:
bio = pd.read_excel('./input/bio_FINAL Julia working on sex.xlsx')
events = pd.read_excel('./input/events_FINAL curated by Julia.xlsx')
locations = pd.read_excel('./input/locations(KEY) curated Julia.xlsx')
spouses = pd.read_excel('./input/spouses_FINAL curated by Julia.xlsx')

In [32]:
# Panda settings for showing data (this is foremost done to more easily explore the data while processing it)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In the bio table we are going to drop the origin column, since there are multiple errors in the translation (e.g. Austr. should be Australia and not Austria). Next we isolate the infomation about places (which are in Column Unnamed:6 ) and which are in between () e.g. (N) and (VS) and translate these into a new column with location (country) of birth.

In [33]:
bio = bio.drop('origin', axis=1)

In [34]:
bio['oorsprong'] = bio['Unnamed: 6'].str.extract(r'\((.*?)\)')

Next, we want to replace the names of the country with a location file generated by JJ. We load the column as df after which we create a join between the two.

In [35]:
locations['abr'] = locations['abr'].str.replace(r'[()]', '', regex=True)

In [36]:
bio_location = pd.merge(bio, locations, left_on='oorsprong', right_on='abr', how='left')

Now we drop the two columns which are not needed anymore.

In [37]:
bio_location = bio_location.drop('oorsprong', axis=1)
bio_location = bio_location.drop('abr', axis=1)

For the sake of cleaning the data we convert the id to integer.

In [38]:
bio_location['id'] = bio_location['id'].astype('Int64')

Now we extract the title from the column "nama orang" these are.

In [39]:
bio_location['titel'] = bio_location['nama orang'].str.extract(r'(dr\.|jhr\.|ds\.)', flags=re.IGNORECASE, expand=False)

Now remove the titles from the name.

In [40]:
bio_location['titel'] = bio_location['nama orang'].str.extract(
    r'(dr\.|jhr\.|ds\.|drs.|jkvr.)', 
    flags=re.IGNORECASE, 
    expand=False
)

In [41]:
bio_location['nama orang'] = bio_location['nama orang'].str.replace(
    r'(dr\.|jhr\.|ds\.|drs.|jkvr.)\s*', 
    '', 
    flags=re.IGNORECASE, 
    regex=True
)

People have their profession ("beroep" in Dutch) in their name field. We extract this and parse it to a new field "beroep", since in some case people have multiple "beroepen" we add them into one column seperated by a ,

In [42]:
# Define the pattern of different professions (beroepen)
beroep_pattern = r'(zr\.|zr|arts|zdl\.|zendeling|evangel.|ond\.|zwm\.|zdl|diakones|diacones|theoloog)'

# Find the matches
bio_location['beroep(en)'] = bio_location['nama orang'].str.findall(beroep_pattern, flags=re.IGNORECASE)

# Join matches with commas (if any)
bio_location['beroep(en)'] = bio_location['beroep(en)'].apply(lambda x: ', '.join(x) if x else None)

Now we delete the professions from "nama orang"

In [43]:
bio_location['nama orang'] = bio_location['nama orang'].str.replace(
    r'(zr\.|zr|arts|zdl\.|verpl|zendeling|evangel.|ond\.|zwm\.|zwm|zdl|diakones|diacones|theoloog)\.?\s*',
    '',
    flags=re.IGNORECASE,
    regex=True
)

In [44]:
bio_location.rename(columns={
    'birthYear': 'geboortejaar',
    'deathYear': 'sterfjaar',
    'Sex ': 'geslacht',
    'location' : 'oorsprong',
    'Unnamed: 6' : "original_input"     
}, inplace=True)

In [45]:
bio_location['titulatuur_geslacht'] = bio_location['nama orang'].str.extract(r'(mw\.| mw| ms.| ms)', flags=re.IGNORECASE, expand=False)

In [46]:
bio_location['nama orang'] = bio_location['nama orang'].str.replace(
    r'(mw\.|mw| ms.| ms)\.?\s*',
    '',
    flags=re.IGNORECASE,
    regex=True
)

In [47]:
bio_location['achternaam'] = bio_location['nama orang'].str.extract(r'^([^,]+)')

In [48]:
bio_location['verwijzing'] = bio_location['nama orang'].str.extract(r'(zie\s+.*)', flags=re.IGNORECASE)
bio_location['nama orang'] = bio_location['nama orang'].str.replace(r'\s*zie\s+.*', '', flags=re.IGNORECASE, regex=True)

In [49]:
bio_location['infix'] = bio_location['nama orang'].str.extract(
    r'(van der|van de|van den| van| de)', 
    flags=re.IGNORECASE, 
    expand=False
)

bio_location['nama orang'] = bio_location['nama orang'].str.replace(
    r'\b(van der|van de|van den| van| de)\b\s*',
    '',
    flags=re.IGNORECASE,
    regex=True
)

In [50]:
bio_location['voornamen of voorletters'] = bio_location['nama orang'].str.extract(r',\s*(.*)')

In [51]:
bio_location['voornamen of voorletters'] = bio_location['voornamen of voorletters'].str.replace(',', '', regex=False)

In [52]:
# Extract the first 4-digit number from 'geboortejaar'
bio_location['geboortejaar_int'] = bio_location['geboortejaar'].astype(str).str.extract(r'(\d{4})')

# Convert to integer (optional, depending on if you want NaN or errors on failure)
bio_location['geboortejaar_int'] = bio_location['geboortejaar_int'].astype(float).astype('Int64')

In [53]:
# Extract the first 4-digit number from 'sterfjaar'
bio_location['sterfjaar_int'] = bio_location['sterfjaar'].astype(str).str.extract(r'(\d{4})')

# Convert to integer
bio_location['sterfjaar_int'] = bio_location['sterfjaar_int'].astype(float).astype('Int64')

In [54]:
bio_location['bron'] = None
bio_location['wildcard'] = None
bio_location['opmerkingen_wildcard'] = None
bio_location['verwzijzing_id'] = None

In [55]:
bio_location.columns.tolist()

['nama orang',
 'geb/overl.',
 'id',
 'geboortejaar',
 'sterfjaar',
 'original_input',
 'geslacht',
 'oorsprong',
 'titel',
 'beroep(en)',
 'titulatuur_geslacht',
 'achternaam',
 'verwijzing',
 'infix',
 'voornamen of voorletters',
 'geboortejaar_int',
 'sterfjaar_int',
 'bron',
 'wildcard',
 'opmerkingen_wildcard',
 'verwzijzing_id']

In [56]:
# change the order of the columns and drop "nama orang"

bio_location = bio_location[[
    'id', 
    'original_input', 
    'titel',
    'achternaam',
    'infix',
    'voornamen of voorletters',
    'beroep(en)',
    'titulatuur_geslacht',
    'geslacht',
    'oorsprong',
    'verwijzing',
    'verwzijzing_id',
    'geb/overl.',
    'geboortejaar',
    'geboortejaar_int',
    'sterfjaar',
    'sterfjaar_int',
    'bron',
    'wildcard',
    'opmerkingen_wildcard'
]]

In [57]:
date_str = datetime.today().strftime('%m_%d_%Y')
filename = "output//"+ f'bio_{date_str}.xlsx'

In [58]:
bio_location.to_excel(filename, index=False)